<DOCTYPE html>
  <html>
    <head>
      {{{styles}}}
      <script src="//use.typekit.net/uyf8thm.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
      <div class="headline"></div>
      <div class="dynamic">
        <div class="date-city"></div>
        <div class="signature"></div>
      </div>
      <div class="site-text"></div>
    </body>
  </html>