<DOCTYPE html>
  <html>
    <head>
      {{{styles}}}
      <script src="//use.typekit.net/uyf8thm.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
      <div class="content">
        <div class="date-location">
          <div class="date">{{date}}</div>
          <div class="location">{{location}}</div>
        </div>
        <div class="user-info">
          <div class="avatar"></div>
          <div class="signature">
            <div class="name"></div>
            <div class="city"></div>
          </div>
        </div>
      </div>
    </body>
  </html>