body {
  width: 800px;
  height: 400px;
  font-family: Helvetica;
  background: url(./images/card.jpg) top left no-repeat;
  color: white;
}

.content {
  position: relative;
  width: 100%;
  height: 60%;
  margin-top: 20%;
}

.date-location {
  width: 100%;
  height: 20%;
}

.date {
  position: relative;
  float: left;
  width: 230px;
  height: 100%;
  left: 100px;
}

.location {
  position: relative;
  float: left;
  width: 350px;
  height: 100%;
  left: 180px;
}

.user-info {
  width: 75%;
  height: 65%;
  margin: auto;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  margin-left: 85px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}