body {
  width: 800px;
  height: 400px;
  font-family: Helvetica;
  background: url(./images/card.jpg) top left no-repeat;
  color: white;
}
.content {
  position: absolute;
  width: 100%;
  height: 240px;
  margin-top: 152px;
}
.date-location {
  width: 100%;
  height: 65px;
}
.date {
  position: relative;
  background-image: url(./images/small-banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  width: 167px;
  height: 41px;
  left: 95px;
  text-align: center;
  font-family: "felt-tip-woman";
  font-weight: 400;
  font-size: 30px;
  transform: rotate(-3.7deg);
}
.date span {
  position: relative;
  top: 20%;
}
.location {
  position: relative;
  background-image: url(./images/big-banner.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  width: 458px;
  height: 57px;
  left: 170px;
  text-align: center;
  font-family: "felt-tip-woman";
  font-weight: 400;
  font-size: 30px;
  margin-top: 6px;
  transform: rotate(2.7deg);
  z-index: 10;
}
.location span {
  position: relative;;
  top: 25%;
}
.user-info {
  position: relative;
  display: inline-block;
  width: 380px;
  height: 150px;
  text-align: center;
}
.avatar {
  float: left;
  width: 120px;
  height: 120px;
  margin-left: 13px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: #00aea1;
  box-shadow: inset 2px 3px 7px 1px rgba(0,0,0,0.3);
  overflow: hidden;
}
.avatar-image {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.signature {
  float: left;
  width: 225px;
  height: 130px;
  margin-left: 13px;
}
.name {
  width: 100%;
  height: 22%;
  margin-top: 35px;
  text-align: left;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: -2px 2px rgba(0,0,0,0.2);
}
.city {
  width: 100%;
  height: 25%;
  text-align: left;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-shadow: -2px 2px rgba(0,0,0,0.2);
}
.location-image {
  position: relative;
  display: inline-block;
  background-color: gray;
  width: 350px;
  height: 150px;
  border: 4px solid white;
  border-radius: 5px;
  box-shadow: inset 2px 3px 7px 1px rgba(0,0,0,0.3), 2px 3px 7px 1px rgba(0,0,0,0.3);
  transform: rotate(2.9deg) translateY(-15px);
}